# Игнорируем сборки
node_modules/
code.js

# Игнорируем системные файлы macOS
.DS_Store

# Игнорируем настройки VS Code / Cursor
.vscode/

# Бэкапы и временные файлы
old_ui.html
scripts/
*.backup.html